@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 237, 237, 237;
  --gainsboro: #dadada;
  --green-teal: #0ab463;
  --warm-grey-75: #848484bf;
  --pinkish-grey: #c4c4c4;
  --emerald: #089954;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  position: sticky;
  top: 0;
  margin: 0 0 30px;
  box-shadow: 0 2px 0 0 var(--gainsboro);
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

header h1 {
  color: var(--green-teal);
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
